VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://ezmmabyhzzoxxajbwome.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_wNQ8yk_Rhnqmru5MX1OrfQ_Ve4MYYi8
